<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <style>
        footer{
            background-color: #2E9AFE;
            color: aliceblue;
        }
        p{
            font-size: 25px;
        }
    </style>
</head>

<footer>
    <p><i class="fas fa-map-marker-alt"></i>   Sumgayit, Azerbaijan</p>
    <p><i class="fas fa-phone"></i>   012 - 345 - 67 - 89</p>
</footer>