<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <style>
        #pre-header{
            background-color: aliceblue;
            min-height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #quote{
            color: #2E9AFE;
            font-family: 'Dancing Script', cursive;
            font-size: 35px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 15px;
            margin-right: 15px;
            justify-content: center;
            align-items: center;
        }

        #nav-bar{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #2E9AFE;
        }

        .nav-el{
            margin: 0 45px;
            padding: 20px 30px;
            font-family: 'Indie Flower', cursive;
            font-size: 25px;
            font-weight: bolder;
            color: aliceblue;
        }
        .nav-el:hover{
            background-color: aliceblue;
            color: #2E9AFE;
        }
    </style>

</head>

<header>
    <div id="pre-header">
        <div id="quote">The book worm</div>
    </div>
    <div id="main-header">
        <nav id="nav-bar">
            <a class="nav-el nav-link" href="/">Main</a>
            <a class="nav-el nav-link" href="/books">Books</a>
            <a class="nav-el nav-link" href="/admin">Admin</a>
        </nav>
    </div>
</header>